body {
  font-size: 120%;
  font-family: 'Source Code Pro', monospace;
  /* background-image: url('https://d29fhpw069ctt2.cloudfront.net/photo/52193/preview/npreview_1280x1280.jpg');
  background-size: cover; */
}

button, input {
  font-size: 80%;
  float: left;
}

.form-group {
  width: 20%;
  margin-left: -20%;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #379683;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #8ee4af;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
